name: CI

on: 
    push:
        branches:
            - any
    pull_request:
        branches:
            - main

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup Go
              uses: actions/setup-go@v2
              with:
                go-version: '1.14.6'
            
            - name: Install Dependencies
              run: go mod download#
            
            - name: Run testing
              run: go test -v

